<h1>Benvetuto<h1/>
<p>Sei nella mia home inutile<p/>

<p> 
clicca qui per vedere chi siamo <a href="/home/chi_siamo"> CHI SIAMO <a/></p>
<p> posso creare il link anche cosi:
<%= link_to 'CHI SIAMO', '/home/chi_siamo' %>
<p/>